form {
    margin-left: 30%;
    margin-top: 15%;
    line-height: 50px;
    font-size: 25px;
}

form h3 {
    text-decoration: underline;
}

form p {
    font-size: 17px;
    color: red
}

label {
    margin-right: 10px;
}

input {
    height: 25px;
}

textarea {
    height: 150px;
    width: 250px;
    vertical-align: top;
    margin-top: 10px;
}

form button {
    margin-left: 25%;
}