.container {
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(45, 100, 13);
}

.logo img {
  width: 100px;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  color: white;
}

.links h6 {
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}